<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>TicketCalculatorServlet</servlet-name>
        <servlet-class>TicketCalculatorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TicketCalculatorServlet</servlet-name>
        <url-pattern>/calculate</url-pattern>
    </servlet-mapping>

</web-app>